.navbar {
  width: 100%;

  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--blue100);
}
.text  {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.text img {
  width: 30rem;
  height: 10rem;
}
.text h1 {
  font-size: 1.5rem;
  font-weight: 400;

  color: var(--whith);
}

.btn-sair a {
  margin: 50px;
  padding: 18px 45px;
  font-size: 1.3rem;
  border-radius: 8px;

  background-color: var(--blue400);
  color: var(--whith);
  font-weight: bold;
}
